/* - global - */
/*------------*/

a {
    color: #3e3e3e;
}

a:hover {
    color: #3e3e3e;
    /*color: #9fcff7;*/
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.7rem;
}

h3, h4, h5, h6{
    font-size: 1.4rem;
}

h1, h2{
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}

/*body{*/
    /*background-color: #FFFFFF;*/
/*}*/

.navbar{
    padding: 0.3rem 1rem
}

/* - main - */
/*----------*/

#main {
    padding: 1.5rem 0;
    margin-top: 1.0rem;
}

#main img {
    height: auto;
    transition: filter .3s;
}

.post-content img, .comment-content img, .post-content video, .comment-content video {
    max-width: 100%;
}

.post-content h1:before, .page-content h1:before{
    opacity: .5;
    content: "#";
    margin-right: .3rem;
}

.post-content h2:before, .page-content h2:before{
    opacity: .5;
    content: "##";
    margin-right: .3rem;
}

.post-content h3:before, .page-content h3:before{
    opacity: .5;
    content: "###";
    margin-right: .3rem;
}

.post-content a {
    text-decoration: underline;
}

/* - article list  - */
/*-------------------*/

.archive-title {
    text-align: center;
    /*margin-top: 1em;*/
    margin-bottom: 1.5rem;
}

.page-navigator {
    list-style: none;
    margin: 25px 0;
    padding: 0;
    text-align: center;
}

.page-navigator li {
    display: inline-block;
    margin: 0 4px;
}

.page-navigator a {
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
}

.page-navigator a:hover {
    background: #EEE;
    text-decoration: none;
}

.page-navigator .current a {
    color: #444;
    background: #EEE;
}

/*.more {*/
    /*text-align: right;*/
/*}*/

/* - comments - */

.post-comments {
    word-wrap: break-word;
}

/*.post-comments form {*/
    /*margin-bottom: 3em;*/
/*}*/

.post-comments label {
    display: block;
    margin-bottom: .5em;
}

.post-comments input, .post-comments textarea {
    width: 100%;
    display: block;
}

.post-comments .comment-list {
    margin-left: 0;
    list-style: none;
    margin-bottom: 2em;
}

.post-comments .comment-list:last-child {
    margin-bottom: 0;
}

/*.comment-list li {*/
    /*position: relative;*/
    /*padding-left: 60px;*/
    /*margin-bottom: 1.5em;*/
/*}*/

/*.comment-list li:after {*/
    /*content: "";*/
    /*clear: both;*/
    /*display: block;*/
/*}*/

/*.comment-list li:last-child {*/
    /*margin-bottom: 0;*/
/*}*/

/*input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="number"], input[type="search"], textarea, select {*/
    /*padding: .5em;*/
    /*color: inherit;*/
    /*border-radius: 4px;*/
    /*border: #ccc 1px solid;*/
/*}*/

/*!* --- 评论头像 *!*/
.comment-list .avatar {
    top: 0;
    left: 0;
    min-width: 45px;
    max-width: 45px;
    float: left;
    /*position: absolute;*/
    border-radius: 100%;
    transition: transform .3s ease-in-out;
}

/*.comment-list li:hover .avatar {*/
    /*transform: rotate(1turn);*/
    /*-webkit-transform: rotate(1turn);*/
/*}*/

/*!* --- 评论信息 *!*/
.comment-list .comment-meta {
    float: left;
    margin-bottom: .25em;
}

/*.comment-list .comment-time:before {*/
    /*content: "\f017";*/
    /*margin-right: .4em;*/
    /*display: inline-block;*/
    /*!*font-family: "FontAwesome";*!*/
/*}*/

/*.comment-list .comment-author,*/
/*.comment-list .comment-time {*/
    /*margin-right: .8em;*/
/*}*/

/*!* --- 评论内容 *!*/
.comment-list .comment-content {
    clear: both;
}

.comment-children > .comment-list {
    margin-top: 1.5em;
    margin-bottom: 0;
}

.comment-list .comment-reply a {
    color: #aaa;
}

.comment-list .comment-reply a:hover {
    color: #555;
}

.comment-list .cancel-comment-reply {
    display: block;
    text-align: right;
}


#comments {
    padding-top: 15px;
}

.comment-list, .comment-list ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comment-list li {
    padding: 14px;
    margin-top: 10px;
    border: 1px solid #EEE;
}

.comment-list li.comment-level-odd {
    background: #F6F6F3;
}

.comment-list li.comment-level-even {
    background: #FFF;
}

.comment-list li.comment-by-author {
    background: #FFF9E8;
}

.comment-list li .comment-reply {
    text-align: right;
    font-size: .92857em;
}

.comment-meta a {
    color: #999;
    font-size: .92857em;
}

.comment-author {
    display: block;
    margin-bottom: 3px;
    color: #444;
}

.comment-author .avatar {
    float: left;
    margin-right: 10px;
}

.comment-author cite {
    font-weight: bold;
    font-style: normal;
}

.comment-list .respond {
    margin-top: 15px;
    border-top: 1px solid #EEE;
}

.respond .cancel-comment-reply {
    float: right;
    margin-top: 15px;
    font-size: .92857em;
}

#comment-form label {
    display: block;
    margin-bottom: .5em;
    font-weight: bold;
}

#comment-form .required:after {
    content: " *";
    color: #C00;
}

.list-group-root > .list-group-item , .list-group-wrapper > .list-group-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-group-wrapper {
    margin-top: 1px;
}

.list-group-wrapper  > li{
    padding-left: 40px;
}

/* - side bar - */
/*--------------*/

.card {
    margin-bottom: 1rem;
}

/* - footer  - */
/*-------------*/

.turn-up{
    right: 20px;
    bottom: 60px;
    padding: .5em .6em;
    display: block;
    cursor: pointer;
    position: fixed;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #eee;
    transform: translateX(60px);
    transition: color .3s, border .3s, background .3s, transform .3s;
}
.turn-up.active{
    transform: translateX(0);
}
.turn-up:before{
    width: 1.5em;
    display: block;
    /*content: "\f062";*/
    text-align: center;
    /*font-size: 20px;*/
    /*font-family: "FontAwesome";*/
}
.turn-up i{
    font-size: 30px;
}

.footer {
    padding: 1rem 0;
    text-align: center;
}

.footer {
    font-size: .875rem;
}