/* - global - */
/*------------*/

body {
  cursor: url(../imgs/cursor.ico), auto;
}

a {
  color: #3498db;
}

a:hover {
  color: #1d6fa5;
}

.nav-link:hover,
.nav-link:focus {
  color: #3498db !important;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3,
h4,
h5,
h6 {
  font-size: 1.2rem;
}

h1,
h2 {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.navbar {
  padding: 0.3rem 1rem;
}

img {
  max-width: 100%;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.alert {
  border-radius: 0;
}

ul {
  padding-left: 1.2rem;
}

/* body {
    background-color: #F6F6F6;
} */

/* - main - */
/*----------*/

#main {
  padding: 1.5rem 0;
  margin-top: 4rem;
}

#main img {
  height: auto;
  transition: filter 0.3s;
  max-height: 25rem;
}

.page-title,
.edit-link {
  display: inline-block;
}

.post-content img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.comment-content img,
.post-content video,
.comment-content video {
  max-width: 100%;
}

.post-content h1:before,
.page-content h1:before {
  opacity: 0.5;
  content: "#";
  margin-right: 0.3rem;
}

.post-content h2:before,
.page-content h2:before {
  opacity: 0.5;
  content: "##";
  margin-right: 0.3rem;
}

.post-content h3:before,
.page-content h3:before {
  opacity: 0.5;
  content: "###";
  margin-right: 0.3rem;
}

.post-content a {
  text-decoration: underline;
  word-break: break-all;
}

blockquote {
  padding: 0.5rem;
  background-color: #f0f0f0;
}

blockquote p:before {
  opacity: 0.5;
  margin-right: 0.3rem;
  content: ">";
}

blockquote p {
  margin: 0;
}

/* - timeline list  - */
/*-------------------*/

.timeline {
  position: relative;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 1em;
  bottom: 1em;
  left: 0;
  border-left: 0.2rem solid #efefef;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.timeline-item {
  display: block;
  position: relative;
  margin-bottom: 0.8rem;
  padding-left: 1.5rem;
  width: 100%;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.timeline-item:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 50%;
  width: 0.3rem;
  height: 0.3rem;
  background-color: #7b8a8b;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.timeline-item__time {
  display: inline-block;
  width: 3.5rem;
  vertical-align: middle;
  color: #99a9bf;
  -webkit-transform: translateY(3%);
  -moz-transform: translateY(3%);
  -o-transform: translateY(3%);
  -ms-transform: translateY(3%);
  transform: translateY(3%);
}

.timeline-item--year {
  font-size: 1.2rem;
}


.timeline-item__title {
  display: inline-block;
  margin: 0;
  width: calc(100% - 4.5rem);
  font-size: 1em;
  font-weight: normal;
  vertical-align: middle;
}

.timeline-item__link {
  color: #2c323c;
}

/* - article list  - */
/*-------------------*/

.post {
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.post:first-child {
  padding-top: 0;
}

.archive-title {
  text-align: center;
  /*margin-top: 1em;*/
  margin-bottom: 1.5rem;
}

.page-navigator {
  list-style: none;
  margin: 25px 0;
  padding: 0;
  text-align: center;
}

.page-navigator li {
  display: inline-block;
  margin: 0 4px;
}

.page-navigator a {
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}

.page-navigator a:hover {
  /* background: #EEE; */
  text-decoration: none;
}

.page-navigator .current a {
  color: #444;
  background: #eee;
}

/* - post comments - */
/*-------------------*/

#comment-area {
  background-image: url(https://image.idealclover.cn/blog/assets/comments.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  transition: 0.4s;
}

#comment-area:focus {
  background-position-y: 115px;
  transition: 0.4s;
}
/* - comments - */
/*--------------*/

.post-comments {
  word-wrap: break-word;
  padding-top: 15px;
}

.post-comments .comment-list {
  margin-left: 0;
  list-style: none;
  margin-bottom: 2em;
  padding: 0;
}

.comment-children > .comment-list {
  margin-top: 1.5em;
  margin-bottom: 0;
}

.comment-list li {
  padding: 14px;
  margin-top: 10px;
  border: 1px solid #eee;
}

.comment-list .avatar {
  top: 0;
  left: 0;
  min-width: 45px;
  max-width: 45px;
  float: left;
  border-radius: 100%;
  transition: transform 0.3s ease-in-out;
}

.comment-list .comment-meta {
  float: left;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.comment-list .comment-author {
  display: block;
  margin-bottom: 3px;
}

.comment-list .comment-content {
  clear: both;
}

.comment-content p {
  margin: 0;
}

.reply-info {
  margin-bottom: 1rem;
}

.OwO {
  margin-bottom: 1rem;
}

/* -  moments - */
/*--------------*/

.comment-list .moment {
  padding: 14px;
  margin-top: 0;
  /*border: 1px solid #EEE;*/
  border: 0;
  border-bottom: 1px solid #eee;
}

.comment-list .moment-meta {
  margin-left: 55px;
  display: block;
}

/* .comment-list .moment-meta a {
    color: #444;
}

.comment-list .moment-time {
    color: #999;
} */

.comment-list .moment-time:before {
  content: "\00b7";
}

.comment-list .moment-content {
  margin-left: 55px;
  display: block;
  /* clear: both; */
}

#comment-area {
  margin-bottom: 1rem;
}

.moment-content p {
  margin: 0;
}

.moment-content a img {
  width: 20vw;
  height: 20vw !important;
  object-fit: cover;
}

.moment-content a {
  text-decoration: underline;
}

.reply a {
  text-decoration: underline;
}

/* .nav-pills .nav-link.active {
    background-color: #343a40;
} */

/* - side bar - */
/*--------------*/

.card {
  margin-bottom: 1rem;
}

.intro,
.shield {
  margin-bottom: 0.5rem;
}

.contact {
  margin: 0.7rem 0;
}

.more a {
  margin-top: 0.3rem;
  display: inline-block;
}

.list-group-root > .list-group-item,
.list-group-wrapper > .list-group-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-group-wrapper {
  margin-top: 1px;
}

.list-group-wrapper > li {
  padding-left: 40px;
}

/* - footer  - */
/*-------------*/

.dark-mode {
  right: 20px;
  bottom: 30px;
  font-size: 30px;
  color: #3498db;
  /* padding-left: 0.2rem; */
  padding: 0.5rem 0.5rem;
  display: block;
  cursor: pointer;
  position: fixed;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #eee;
  /* transform: translateX(80px); */
  transition: color 0.3s, border 0.3s, background 0.3s, transform 0.3s;
}

.dark-mode-label:before,
.dark-mode-label:after {
  display: none;
}

.turn-up {
  right: 20px;
  bottom: 100px;
  padding: 0.5rem 0.5rem;
  display: block;
  cursor: pointer;
  position: fixed;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #eee;
  transform: translateX(80px);
  transition: color 0.3s, border 0.3s, background 0.3s, transform 0.3s;
  z-index: 1;
}

.turn-up.active {
  transform: translateX(0);
}

.turn-up:before {
  width: 1.5rem;
  display: block;
  text-align: center;
}

.turn-up i {
  font-size: 30px;
}

.footer {
  padding-bottom: 1rem;
  text-align: center;
}

.footer {
  font-size: 0.875rem;
}

.menu-target-fix {
  display: block;
  position: relative;
  top: -120px;
}

/* .post-content a:after {
  content: "";
  background: no-repeat
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAA/UlEQVQYV12QwWrCQBCG9yLFi2d76EVQDx576sHgbhTMA3jTPksh2STVUlBPfQkfqO8gqOzGmEKn808xiAvLkJlv//zzK2P9bvJBZKz7HecV6iF627dC675N6olvxT1SkxVD2dkESfGk41N/nJWdaEMPz1/UMImPp2sR+VGgAam7Y5JiJooMoyqTFhSmZQ/Dl09qovJv59GWlRiGMmwIGMTHbq2UugUgwPiGDXgWUL+XfTS1da88IMDXh/CMBVWYX2ho/aPOL4MpQ4BvbciCnIYsM1q6tjQZVncHiyI6iUfbcwhYlNkGPGNBgTg6MEoCX0lWBBvwXF/u/c/87g96DLwN1VorFQAAAABJRU5ErkJggg==);
  display: inline-block;
  height: 10px;
  margin: 0 3px 0 5px;
  width: 10px;
} */

/* - code highlight  - */
/*---------------------*/

.hljs {
  border: 0;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
  display: block;
  padding: 1px;
  margin: 0;
  width: 100%;
  font-weight: 200;
  overflow-x: auto;
  background-color: #696969;
}
.hljs ul {
  /* margin: 0px 0px 0 40px !important; */
  padding: 0;
  margin: 0;
}
.hljs ul li {
  counter-increment: custom;
  /* list-style: none; */
  /* list-style: decimal-leading-zero; */
  /* border-left: 1px solid #ddd !important; */
  padding: 5px !important;
  margin: 0 !important;
  line-height: 14px;
  word-break: break-all;
  word-wrap: break-word;
}

.hljs ul li:first-child {
  counter-reset: custom;
}

.hljs ul li:before {
  width: 3em;
  display: inline-block;
  text-align: center;
  content: counter(custom);
}

.hljs ul li:nth-of-type(even) {
  color: inherit;
}

.code-toolbar {
  font-size: 100%;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
  padding-top: 30px;
  background-color: #3f3f3f;
  margin: 20px 0 20px 0;
}

.code-toolbar::before {
  content: " ";
  position: absolute;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fc625d;
  width: 11px;
  height: 11px;
  left: 10px;
  top: 10px;
  -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  z-index: 2;
}

.code-toolbar > .toolbar {
  position: absolute;
  top: 5px;
  width: 100%;
  text-align: center;
}

.code-toolbar:hover > .toolbar {
  opacity: 1;
}

.code-toolbar > .toolbar button {
  cursor: pointer;
  transition: all 0.3s;
  position: absolute;
  background-color: transparent;
  right: 6px;
  top: 0;
  font-size: 12px;
  line-height: 12px;
  padding: 3px 5px;
  border: 1px solid;
  border-radius: 6px;
  opacity: 0;
  color: #fff;
}

.code-toolbar:hover button {
  opacity: 1;
}

.code-toolbar > .div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  opacity: 0;
  color: #fff;
}

.code-toolbar:hover .toolbar span {
  opacity: 1;
}

.goog-te-banner-frame {
  display: none
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

.goog-te-combo {
  word-wrap: normal;
  display: inline-block;
  width: 100%;
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") right .75rem center/8px 10px no-repeat;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  appearance: none;
}
